body {
    background-color: rgb(37, 37, 37);
}

#dashboard {
    margin: 40px auto;
    width: 400px;
    border: 1px solid black;
    padding: 20px;
    background-color: white;
    border-radius: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 10px;
}

#plus {

    /*border-radius: 100%;*/
    display: block;
    float: right;
}
.item {
    padding-top: 10px;
    padding-bottom: 10px;
}

input[type=text] {
    width: 95%;
    padding: 10px;
    margin: 5px 0px 10px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.large {
    width: 95%;
    padding: 10px;
    margin: 5px 0px 10px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input[type=button] {
    
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#confirm {
    size: 10px 10px;
    background-color: green;
    border-radius: 100%;
}

.button {
    background-color: rgb(250, 250, 250);
    color: seagreen;

    font-size: 20px;
    border-radius: 20px;
    text-align: center;
    padding: 10px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
}

.done {
    color: white;
}

blockquote {
    padding: 20px;
    color: rgb(63, 64, 66);
    font-size: 20px;
}